$background-colour:         #FFFFFF;
$shadow-colour:             #001100;
$font-colour:               #403940;
$mute-colour:               #707070;
$link-colour:               #BF4904;
$accent-colour:             #EDEDED;

$hover-transition-time: 0.5s;
