---
layout: page
---
{{ content }}
{% if site.active_lang == 'pt' %}
  {% assign redirect = 'https://thecajuwedding.com/pt/thanks' %}
{% else %}
  {% assign redirect = 'https://thecajuwedding.com/thanks' %}
{% endif %}
<form action='https://forms.zohopublic.com/virtualoffice23209/form/RSVP/formperma/dukGdIl9E9u-j4qFwTge3tPvXjMkqo6xpbd6VyHRvo4/htmlRecords/submit' name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
  <input type="hidden" name="zf_redirect_url" value="{{ redirect }}">
  <p></p>
  <!--Name-->
  <input type="text" maxlength="255" name="Name_First" fieldType=7 placeholder="First Name" />
  <input type="text" maxlength="255" name="Name_Last" fieldType=7 placeholder="Last Name" />
  <!--Email-->
  <input type="text" maxlength="255" name="Email" value="" fieldType=9 placeholder="Email address" />

  <!--Bringing a guest?-->
  <div>
    <input type="checkbox" id="DecisionBox1" name="DecisionBox1"/>
    <label for="DecisionBox1">I'm bringing someone else with me</label>
    <div id="guest">
      <input type="text" maxlength="255" name="Name1_First" fieldType=7 placeholder="Guest First Name" />
      <input type="text" maxlength="255" name="Name1_Last" fieldType=7 placeholder="Guest Last Name" />
    </div>  
  </div>

  <!--Having food?-->
  <div>
    <input type="checkbox" id="DecisionBox2" name="DecisionBox2"/>
    <label for="DecisionBox2">I / We are staying for food (it's on us!)</label>
    <div id="food">
      <textarea name="MultiLine" maxlength="65535" placeholder="Any dietary requirements?" ></textarea>
    </div> 
  </div>  
  
  <button class="submit-button" type="submit"><em>See you there!</em></button>
</form>